<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>IPFIX Generator</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
	rel="stylesheet" />
<!-- https://fonts.google.com/ -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<!-- https://getbootstrap.com/ -->
<link href="/fontawesome/css/all.min.css" rel="stylesheet" />
<!-- https://fontawesome.com/ -->
<link href="/css/templatemo-diagoona.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document)
			.ready(
					function() {
						var lastEntryCount = 0;

						function updateTable() {
							$
									.getJSON(
											'/api/jobs/'
													+ window.location.pathname
															.split("/").pop()
													+ '/history',
											function(data) {
												var tableBody = $("#logTable tbody");
												if (data.length > lastEntryCount) {
													for (var i = lastEntryCount; i < data.length; i++) {
														var details = data[i].details;
														var truncatedDetails = details.length > 30 ? details
																.substring(0,
																		30)
																+ "..."
																: details;
														var row = "<tr><td>"
																+data[i].packetsSend
																+ "</td><td>"
																+ data[i].date
																+ "</td><td>"
																+ data[i].sourceIP +":"+  data[i].sourcePort
																+ "</td><td>"
																+ data[i].destIP +":"+  data[i].destPort
																+ "</td><td>"
																+ truncatedDetails
																+ " <a href='#' class='read-more' data-fulltext='" + details + "'>Read more</a></td></tr>";
														tableBody.append(row);
													}
													lastEntryCount = data.length;
												}
											});
						}

						$(document).on("click", ".read-more", function(event) {
							event.preventDefault();
							var fullText = $(this).data("fulltext");
							$(this).parent().text(fullText);
						});

						// Call the updateTable function every 2 seconds (2000 milliseconds)
						setInterval(updateTable, 2000);

						// Initial call to populate the table immediately
						updateTable();
					});
</script>



</head>

<body>
	<div class="tm-container">
		<div>
			<div class="tm-row pt-4">
				<div class="tm-col-left">
					<div class="tm-site-header media">

						<img src="/img/logo.png" width="40px" alt="Image"
							class="tm-service-img">
						<div class="media-body">
							<h1 class="tm-sitename text-uppercase" style="font-size: 1.8rem;">IPFIX
								Generator</h1>
						</div>
					</div>
				</div>
				<div class="tm-col-right">
					<nav class="navbar navbar-expand-lg" id="tm-main-nav">
						<button class="navbar-toggler toggler-example mr-0 ml-auto"
							type="button" data-toggle="collapse" data-target="#navbar-nav"
							aria-controls="navbar-nav" aria-expanded="false"
							aria-label="Toggle navigation">
							<span><i class="fas fa-bars"></i></span>
						</button>
						<div class="collapse navbar-collapse tm-nav" id="navbar-nav">
							<ul class="navbar-nav text-uppercase">
								<li class="nav-item"><a class="nav-link tm-nav-link"
									href="/">Home </a></li>
								<li class="nav-item"><a class="nav-link tm-nav-link"
									href="/swagger-ui/index.html"><i class="far fa-file-alt"></i> API-DOCS</a></li>
									 <ol class="breadcrumb" style="background:transparent;padding: inherit">
								<li class="breadcrumb-item "><a class="nav-link tm-nav-link"
									href="/jobs">Jobs</a></li>
									    <li class="breadcrumb-item active" aria-current="page" style="display:inline-flex;" >
									    <a class="nav-link tm-nav-link"
									href="#"  th:text="${job.id}"></a>
									</li>
									  </ol>
							
							</ul>
						</div>
					</nav>
				</div>
			</div>

			<div class="tm-row">
				<div class="tm-col-left">
					<section class="tm-content"
						style="max-width: 80%; padding-left: 20px;">
						<div class="row"></div>
						<div class="row">
							<div class="col-md-12">
						<span class="badge badge-primary col-md-4" th:text="${job.status}"></span>
						</div>
							<h2 class="col-md-12 tm-content-title" th:text="${job.name}"></h2>


					<div class="col-md-12">
								<span style="font-size:10px">Created </span><span style="font-size:10px" th:text="${job.created}"></span>
							</div>
							<div class="col-md-12">
								<br>
								<br>
							</div>
						
							
								<div class="col-md-12">
									
									 <input type="text" class="form-control"   style="background:transparent" th:value="${job.destHost}" readonly>
							<small class="form-text text-muted">Destination for IPFIX Packets</small>
							</div>
								<div class="col-md-12">
									
									 <input type="text" class="form-control"   style="background:transparent" th:value="${job.pps}" readonly>
							<small class="form-text text-muted">Packets per seconds.</small>
							</div>
							<div class="col-md-12">
									
									 <input type="text" class="form-control" id="destTotalPackets"  style="background:transparent" th:value="${job.totalPackets}" readonly>
							<small class="form-text text-muted">Total amount of packets that should be sent.</small>
							</div>

						</div>
					</section>
				</div>
				<main class="tm-col-right" style="width: 65%">
					<section class="tm-content" style="max-width: 100%;">



							<h2 class="col-md-12 tm-content-title">History</h2>
						
	
						<div class="table-responsive fixed-table-body" style="display: block; max-height: 550px; overflow-y: auto;">
							<table id="logTable" class="table table-striped table-responsive fixed-table-body" style="background:white;font-size:10px;width:100%">
								<thead>
									<tr>
										<th>#</th>
										<th>Date</th>
										<th>Source</th>
										<th>Destination</th>
										<th>Details</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>

					</section>
				</main>
			</div>
		</div>

		<div class="tm-row">
			<div class="tm-col-left" style="margin-left: 20px"></div>
			<div class="tm-col-right tm-col-footer">
				<footer class="tm-site-footer text-right">
					<p class="mb-0" style="font-size: 10px">
						Developed by <a href="https://wenisch.tech">Jean-Fabian
							Wenisch | wenisch.tech</a>
					</p>
				</footer>
			</div>
		</div>

		<!-- Diagonal background design -->
		<div class="tm-bg">
			<div class="tm-bg-left"></div>
			<div class="tm-bg-right"></div>
		</div>
	</div>

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.backstretch.min.js"></script>
	<script src="/js/templatemo-script.js"></script>
</body>
<script src="/js/index.js"></script>
</html>
